$lgrey: #F6F6F6;
$notegrey: #A3A3A3;
$black: #141414;
$lblack: #1E1E1E;
$text-black: #222;

$lblue: #F3F4F5;

$yellow: #518698;
// $yellow: #5976A1;
// $yellow: #FCB500;

$dribbble: #EB6699;
$linkedin: #0177B5;
$twitter: #61AADB;
$lastfm: #B90000;
$canonical: #2C001E;
$landscape: #89476B;
$ppixel: #4DBACF;
$ubuntu: #DD4814;
$juju: #002835;

$invstr: #07CCE0;
$portfoliov2: #62AAFF;
$cell: #333333;
$cell-alt: #369;
$dota: #FA3434;
$peter: #888888;
$legoland: #F6C300;
$hearthstone: #FF9E42;

.full-yellow {
	width: 100%;
	// background: url('../img/self-header.jpg');
	// background-size: cover;
	background: $yellow;
}

.yellow-bg {
	background: $yellow;
}

.full-lblue {
	width: 100%;
	overflow: hidden;
	background: $lblue;
}

.black {
	color: $black;
	&:hover {
		color: $black;
	}
}

.yellow {
	color: $yellow;
	&:hover {
		color: $yellow;
	}
}

.lblack {
	background: $lblack;
	overflow: hidden;
}

.ubuntu-bg {
	background: $ubuntu !important;
}

.maas-bg {
	background: $lgrey !important;
}

.landscape-bg {
	background: $landscape !important;
}

.cell-bg {
	background: $cell-alt !important;
}

.invstr-bg {
	background: $invstr !important;
}

.juju-bg {
	background: $juju !important;
}

.hearthstone-bg {
	background: $hearthstone !important;
}

.dota-bg {
	background: $dota !important;
}
