$lgrey: #F8F8F8;
$black: #222222;

$lblue: #F3F4F5;
$yellow: #FEE78C;

.full-yellow {
	width: 100%;
	// background: url('../img/self-header.jpg');
	// background-size: cover;
	background: $yellow;
}

.full-lblue {
	width: 100%;
	background: $lblue;
}