#header-text {
	padding: 200px 20px;
}

.stripe {
	transform: skewX(-20deg);
    width: 120px;
    height: 900px;
    position: absolute;
    top: 0;
    right: 0px;
    background: #F3F4F5;
}

.stripe1 {
	right: 160px;
}