body {
  padding: 160px 0 80px 0;
  background: $black;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
}

.valign-middle {
    display: table;

    > .columns {
        display: table-cell;
        vertical-align: middle;
    }

    > .columns, > [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}

.now-playing {
    font-size: 18px;
    color: $notegrey;
}

.center {
    text-align: center;
    margin: 0 auto;
}

.section-padding {
    padding: 0 20px 60px 20px;
}

.section-padding-no-bottom {
    padding: 0 20px 0 20px;
}

.padding-bottom {
    padding-bottom: 40px;
}

.margin-bottom {
    margin-bottom: 40px;
}

.work-item {
    padding: 120px 20px 0 20px;
}

.work-item-inner {
    padding: 0 20px;
}

.align-center {
    margin: 0 auto;
}

.left-line {
    margin-left: -20px;
    padding-left: 16px;
    border-left: rgba(29, 29, 29, 0.1) 4px solid;
}

.left-line-invstr {
    margin-left: -20px;
    padding-left: 16px;
    border-left: 4px solid $invstr;
}
