.row {
    max-width: 1200px;
}

nav {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	// background: red;
}

// #header-text {
// 	// header: 100vh;
// }

// Vertically Centre Column Content
.valign-middle {
    display: table;

    > .columns {
        display: table-cell;
        vertical-align: middle;
    }

    > .columns, > [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}

.section-padding {
    padding: 120px 20px;
}

.align-center {
    margin: 0 auto;
}

// .work-container-background {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     display: inline-block;
//     background: white;
//     z-index: -1;
//     transform: scaleX(1) scaleY(1);
    
//     -webkit-transition: transform .2s ease-out;
//     transition: transform .2s ease-in-out;
// }

// .work-container {
//     &:hover {
//         .work-container-background {
//             background: $lgrey;
//             opacity: 1;
//             transform: scaleX(1.05) scaleY(1.05);
//         }
//     }
// }

.work-container-background {
    height: 100%;
    width: 100%;
    position: absolute;
    display: inline-block;
    background: white;
    z-index: -1;
    transform: scaleX(1) scaleY(1);
    opacity: 0;
        
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-in-out;
}

.work-container {
    &:hover {
        .work-container-background {
            background: $lgrey;
            opacity: 1;
            transform: scaleX(1.05) scaleY(1.05);
        }
    }
}