#wrapper {
    // border: 20px solid #F5F5F5;
    // border-left: 6px solid $yellow;
}

nav {
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	// background: red;
}

// #header-text {
// 	// header: 100vh;
// }

// Vertically Centre Column Content
.valign-middle {
    display: table;

    > .columns {
        display: table-cell;
        vertical-align: middle;
    }

    > .columns, > [class*="column"] + [class*="column"]:last-child {
        float: none;
    }
}

header {
    padding: 0 20px;
}

.section-padding {
    padding: 120px 20px;
}

.align-center {
    margin: 0 auto;
}

@media only screen and (min-width: 40.063em) {  }