.home-button {
  padding: 10px 20px;
  position: fixed;
  top: 40px;
  left: 0px;
  background: white;
  color: $text-black;
  font-size: 13px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 99;
}
