progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: 10px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: red;

  z-index: 99;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: red;
}

progress::-moz-progress-bar {
  background-color: red;
}

//hearthstone
.hearthstone-bg-progress::-webkit-progress-bar {
  background-color: transparent;
}

.hearthstone-bg-progress::-webkit-progress-value {
  background-color: $hearthstone !important;
}

.hearthstone-bg-progress::-moz-progress-bar {
  background-color: $hearthstone !important;
}

//invstr
.invstr-bg-progress::-webkit-progress-bar {
  background-color: transparent;
}

.invstr-bg-progress::-webkit-progress-value {
  background-color: $invstr !important;
}

.invstr-bg-progress::-moz-progress-bar {
  background-color: $invstr !important;
}

//cell
.cell-bg-progress::-webkit-progress-bar {
  background-color: transparent;
}

.cell-bg-progress::-webkit-progress-value {
  background-color: $cell-alt !important;
}

.cell-bg-progress::-moz-progress-bar {
  background-color: $cell-alt !important;
}

//maas
.maas-bg-progress::-webkit-progress-bar {
  background-color: transparent;
}

.maas-bg-progress::-webkit-progress-value {
  background-color: $ubuntu !important;
}

.maas-bg-progress::-moz-progress-bar {
  background-color: $ubuntu !important;
}

//landscape
.landscape-bg-progress::-webkit-progress-bar {
  background-color: transparent;
}

.landscape-bg-progress::-webkit-progress-value {
  background-color: $landscape !important;
}

.landscape-bg-progress::-moz-progress-bar {
  background-color: $landscape !important;
}

//juju
.juju-bg-progress::-webkit-progress-bar {
  background-color: transparent;
}

.juju-bg-progress::-webkit-progress-value {
  background-color: $juju !important;
}

.juju-bg-progress::-moz-progress-bar {
  background-color: $juju !important;
}
