@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova bold';
  src: url('../fonts/Mark Simonson - Proxima Nova Alt Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('../fonts/Gotham-Bold_21010.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?adu634');
  src:url('../fonts/icomoon.eot?#iefixadu634') format('embedded-opentype'),
    url('../fonts/icomoon.woff?adu634') format('woff'),
    url('../fonts/icomoon.ttf?adu634') format('truetype'),
    url('../fonts/icomoon.svg?adu634#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-design:before {
  content: "\64";
  font-size: 25px;
  display: inline;
  margin-right: 10px;
}
.icon-linkedin:before {
  content: "\69";
}
.icon-facebook:before {
  content: "\66";
}
.icon-twitter:before {
  content: "\74";
}
.icon-github:before {
  content: "\67";
}
.icon-lastfm:before {
  content: "\6c";
}
.icon-headphones:before {
  content: "\68";
}
.icon-mail:before {
  content: "\6d";
}
.icon-file-xml:before {
  content: "\63";
  font-size: 25px;
  display: inline;
  margin-right: 10px;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  font-family: 'Proxima Nova bold';
  color: white;
}

h2 {
  font-size: 20px;
	font-family: 'Proxima Nova bold';
  color: white;
}

h3 {
  font-size: 1.3rem;
  font-family: 'Proxima Nova';
}

.work-title-wrapper {
  margin-bottom: 20px;
}

.work-title {
  display: inline;
}

p {
  font-size: 18px;
	font-family: 'Proxima Nova';
	font-weight: 300;
  line-height: 32px;
  color: white;
}

.note {
  font-size: 13px;
  line-height: 0;
  color: $notegrey;
}

a {
  font-family: 'Proxima Nova bold';
  // font-weight: 300;
  text-decoration: none;
  // color: $yellow;
  border-bottom: 1px solid;
  &:hover {
    // text-decoration: line-through;
  }
}

.no-border-bottom {
  border-bottom: none;
}

a p {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-size: 1.875rem;
  text-decoration: none;
  // &:hover {
  //   text-decoration: line-through;
  // }
}

.bold {
  font-family: 'Proxima Nova bold';
}

.overlay ul li a {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-size: 1.875rem;
  text-decoration: none;
  &:hover {
    text-decoration: line-through;
  }
}

.inline-link, .external-link {
  font-family: 'Proxima Nova bold';
  font-weight: 900;
  font-size: 30px;
  color: $black;
}

.external-link {
  margin-bottom: 20px;
  display: block;
}

.social-link {
  font-size: 1.3rem;
  margin-right: 5px;
}

.body-link {
  font-size: 1.3rem;
}

.contact-text {
    padding: 120px 20px 100px 20px;
}

// .header-link {
//     font-size: 30px;
// }

.invstr { color: $invstr !important; }
.dribbble { color: $dribbble !important; }
.twitter { color: $twitter !important; }
.linkedin { color: $linkedin !important; }
.lastfm { color: $lastfm !important; }
.canonical { color: $canonical !important; }
.ppixel { color: $ppixel !important; }
.ubuntu { color: $ubuntu !important; }
.portfoliov2 { color: $portfoliov2 !important; }
.cell { color: $cell-alt !important;}
.peter { color: $peter !important;}
.black { color: $black !important; }

@media (max-width: 700px) {
  h2 {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 16px;
  }
  .body-link {
    font-size: 16px;
  }
  .social-link {
    font-size: 16px;
  }
  .inline-link, .external-link {
    font-size: 16px;
  }
  .external-link {
    margin-bottom: 10px;
  }
  .body-text {
    padding: 60px 20px;
  }
}
