.project {
  width: 100%;
  height: 110px;
  display: table;
  h2, p {
    -webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
    -webkit-transition: color 300ms ease;
    transition: color 300ms ease;
  }
  &:hover {
    h2, p {
      color: white;
    }
    .project-hover {
      width: 100%;
    }
  }
}

.content {
  display: table-cell;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.project-hover {
  background-color: $black;
  position: absolute;
  left: 0%;
  height: 100px;
  width: 0%;
  -webkit-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -moz-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -o-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
  -ms-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
  z-index: -1;
  &:hover {
    cursor: pointer;
    .color-hover {
      width: 100%;
    }
  }
}

.color-hover {
    background-color: blue;
    position: absolute;
    top: 0;
    height: 130px;
    width: 0%;
    -webkit-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
    -moz-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
    -o-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
    -ms-transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
    transition: background-color 300ms ease, width 400ms cubic-bezier(0.86, 0, 0.07, 1);
    z-index: -1;
}

.contact-text {
  img {
    padding: 20px;
    background: $lgrey;
  }
}

.yellow-strip {
  width: 100%;
  height: 270px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: $yellow;
  z-index: 1;
}

.hearthstone-features {
  img {
    padding-bottom: 20px;
  }
}

.work-laptop {
  position: relative;
  z-index: 1;
}

.projects {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.project-laptop {
  position: relative;
}


.imgwrap {
    // display: inline-block;
    -webkit-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all 200ms ease-in-out;
}

.work-item-img {
  transition: opacity .4s ease-in-out;
}

// invstr
.work-title {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 60px;
    margin-top: -14.5px;
    z-index: 2;
    opacity: 0;
    transition: all 200ms ease-in-out;
}

.invstr-full {
  background: $invstr;
}

.invstr-full-alt {
  background: $lgrey;
}

.ubuntu-full {
  background: $ubuntu;
}

.work-description {
  text-align: left !important;
  padding-bottom: 20px;
}

.maas-ui-gif {
  width: 69.8%;
  position: absolute;
  top: 24.5%;
  left: 15.4%;
  box-shadow: 0 5px 30px 3px rgba(102,102,102,0.08);
  border-radius: 2px;
  border: 1px solid rgba(54,54,54,0.09);
}

.cell-full {
  background: $cell;
}

.cell-full-alt {
  background: $cell-alt;
}

.spacing-bottom {
	padding-bottom: 60px;
}

@media (max-width: 450px) {
    .white-strip {
      height: 90px;
    }
}

@media (max-width: 700px) {

}

@media (max-width: 700px) {
    .projects {
      padding: 50px 20px;
    }
    .contact-text {
      img {
        padding: 20px;
        background: $lgrey;
      }
    }
    .white-strip {
      height: 120px;
    }
}
